<ion-header>
  <ion-toolbar>
    <ion-title>Indodax</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    color="tertiary"
    shape="round"
    expand="block"
    (click)="getCryptoData()"
  >
    <ion-text>Refresh</ion-text>
  </ion-button>

  <ion-list lines="full">
    <ion-item *ngFor="let crypto of cryptoList">
      <ion-label>
        <div class="item-wrapper">
          <div class="rank">
            <p>Rank</p>
            <h2>{{ crypto.rank }}</h2>
          </div>
          <div class="crypto-info">
            <p>{{ crypto.name }}</p>
            <h2>{{ crypto.symbol }}</h2>
          </div>
        </div>
      </ion-label>
      <ion-note slot="end">
        <p>USD</p>
        <h2>{{ crypto.price_usd }}</h2>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
