ion-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  color: rgb(142, 219, 255);
  font-size: 2rem;
}

ion-button {
  font-weight: bold;
  width: 8rem;
  margin: 2rem auto;
}

ion-list {
  --ion-item-border-width: 0.5px;
}

.item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank,
.crypto-info {
  flex: 1;
}

.rank h2 {
  font-weight: bold;
  margin-bottom: 5px;
}
